<div class="container" *ngFor="let game of games">
    <mat-card webOnHover="8">
        <mat-card-content>
            <img *ngIf="game.img" [src]="game.img" alt="kep">
            <div class="dashboard-text">
                <mat-card-title>{{game.title}}</mat-card-title>
                <span>{{game.description}}</span>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>

<button mat-fab class="action-btn" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>