<web-popularlist></web-popularlist>
<web-recentcomments></web-recentcomments>
<div class="container" *ngFor="let car of cars">
    <mat-card webOnHover="8" (click)="goToDetails(car)">
        <mat-card-content>
            <img *ngIf="car.img" [src]="car.img" alt="Kép">
            <div class="dashboard-text">
                <mat-card-title>{{car.title}}</mat-card-title>
                <span>{{car.subtitle}}</span>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
</div>
