.container {
    padding: 16px;
  }
.detailscontent {
    display: inline-block;
    margin: 8px;
    width: 60%;
    max-width: 68%;
}
.det-img {
    vertical-align: top;
    float: right;
    margin-right: 8px;
    margin-top: 8px;
    width: 25%;
    max-width: 28%;
}
.comment {
    margin: 8px;
    width: 60%;
    max-width: 68%;
}