.container {
    padding: 16px;
  }
.detailscontent {
    display: inline-block;
    margin: 8px;
    width: 60%;
    max-width: 68%;
}
.detailscontent h1 {
    text-align: center;
}
.det-img {
    vertical-align: top;
    float: right;
    margin-right: 8px;
    margin-top: 8px;
    width: 25%;
    max-width: 28%;
    clear: both;    /* mivel két floatolót rakok egymás alá, ez megoldja, hogy a másik mindig alatta legyen */
}
.comment {
    margin: 8px;
    width: 60%;
    max-width: 68%;
}
